:root {
    color-scheme: light dark;
    margin: 0;
}

.invisible {
    display: none;
}

#canvas_container {
    width: 80vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tools {
    flex-direction: column;
    left: 80vw;
    top: 0;
    width: 20vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

input, button, select {
    margin: 1em;
}

body {
    display: flex;
    margin: 0;
    flex-direction: row;
}